*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.utilStyle {
    width: 350px;
    max-width: 100%;
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.statistics {
    display: flex;
    gap: 30px;
    width: 350px;
    justify-content: center;
    align-items: center;
}

.boardStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.moveInfoStyle {
    display: inherit;
    gap: 10px;
    flex-wrap: wrap; 
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    max-width: 1250px;
    width: 100%;
}

.gridStyle {
    border: 4px solid darkblue;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin-top: 75px;
}
  